global !p
from snippet_helpers import *
endglobal

snippet ".*modeline" "Vim modeline" br
`!p snip.rv = modeline({"sw": "=0", "ts": "=3", "et": False})`
endsnippet

# vim: tw=90 ts=3 sts=-1 sw=0 noet
