root = true

[*]
charset = utf_8
end_of_line = lf
indent_size = 3
indent_style = space
insert_final_newline = true
max_line_length = 90

[*.py]
indent_size = 4

[*.md]
indent_size = 4

[makefile]
indent_style = tab

[.git/COMMIT_EDITMSG]
max_line_length = 72
