root = true

[*]
charset = utf_8
end_of_line = lf
indent_size = 3
indent_style = space
insert_final_newline = true
max_line_length = 90

[*.py]
indent_size = 4

[*.md]
indent_size = 4

[*.json]
indent_size = 2

[*.css]
indent_size = 2

[makefile]
tab_width = 8
indent_style = tab

[COMMIT_EDITMSG]
indent_size = 4
max_line_length = 72

[home/gitconfig]
indent_size = 8
indent_style = tab

[misc/oneliners.bash]
max_line_length = 0
