[submodule "mutt/vombatidae-mutt"]
	path = mutt/vombatidae-mutt
	url = https://github.com/octol/vombatidae-mutt.git
[submodule "mutt/mutt-colors-solarized"]
	path = mutt/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "AUR/dict-gcide"]
	path = AUR/dict-gcide
	url = https://aur.archlinux.org/dict-gcide.git
[submodule "AUR/dict-freedict-deu-eng"]
	path = AUR/dict-freedict-deu-eng
	url = https://aur.archlinux.org/dict-freedict-deu-eng.git
[submodule "AUR/dict-freedict-eng-deu"]
	path = AUR/dict-freedict-eng-deu
	url = https://aur.archlinux.org/dict-freedict-eng-deu.git
[submodule "AUR/dict-foldoc"]
	path = AUR/dict-foldoc
	url = https://aur.archlinux.org/dict-foldoc.git
[submodule "AUR/dict-wn"]
	path = AUR/dict-wn
	url = https://aur.archlinux.org/dict-wn.git
[submodule "notion/hide-tabs"]
	path = notion/hide-tabs
	url = https://github.com/meribold/notion-hide-tabs.git
[submodule "AUR/thinkfan"]
	path = AUR/thinkfan
	url = https://aur.archlinux.org/thinkfan.git
[submodule "AUR/tor-browser-en"]
	path = AUR/tor-browser-en
	url = https://aur.archlinux.org/tor-browser-en.git
[submodule "AUR/goobook-git"]
	path = AUR/goobook-git
	url = https://aur.archlinux.org/goobook-git.git
[submodule "AUR/yeganesh-cabal"]
	path = AUR/yeganesh-cabal
	url = https://aur.archlinux.org/yeganesh-cabal.git
[submodule "AUR/nethack-nao"]
	path = AUR/nethack-nao
	url = https://aur.archlinux.org/nethack-nao.git
[submodule "AUR/conky-lua"]
	path = AUR/conky-lua
	url = https://aur.archlinux.org/conky-lua.git
[submodule "AUR/proggyfonts"]
	path = AUR/proggyfonts
	url = https://aur.archlinux.org/proggyfonts.git
[submodule "AUR/urlview"]
	path = AUR/urlview
	url = https://aur.archlinux.org/urlview.git
[submodule "AUR/i3-gaps-git"]
	path = AUR/i3-gaps-git
	url = https://aur.archlinux.org/i3-gaps-git.git
[submodule "AUR/neofetch-git"]
	path = AUR/neofetch-git
	url = https://aur.archlinux.org/neofetch-git.git
[submodule "AUR/asciinema"]
	path = AUR/asciinema
	url = https://aur.archlinux.org/asciinema.git
[submodule "AUR/cli-visualizer"]
	path = AUR/cli-visualizer
	url = https://aur.archlinux.org/cli-visualizer.git
[submodule "AUR/j4-dmenu-desktop"]
	path = AUR/j4-dmenu-desktop
	url = https://aur.archlinux.org/j4-dmenu-desktop.git
[submodule "AUR/clipmenu"]
	path = AUR/clipmenu
	url = https://aur.archlinux.org/clipmenu.git
[submodule "AUR/cower"]
	path = AUR/cower
	url = https://aur.archlinux.org/cower.git
[submodule "AUR/z-git"]
	path = AUR/z-git
	url = https://aur.archlinux.org/z-git.git
[submodule "AUR/git-crypt"]
	path = AUR/git-crypt
	url = https://aur.archlinux.org/git-crypt.git
[submodule "AUR/imgurbash"]
	path = AUR/imgurbash
	url = https://aur.archlinux.org/imgurbash.git
[submodule "AUR/universal-ctags-git"]
	path = AUR/universal-ctags-git
	url = https://aur.archlinux.org/universal-ctags-git.git
