[submodule "AUR/dict-gcide"]
	path = misc/aur/dict-gcide
	url = https://aur.archlinux.org/dict-gcide.git
[submodule "AUR/dict-freedict-deu-eng"]
	path = misc/aur/dict-freedict-deu-eng
	url = https://aur.archlinux.org/dict-freedict-deu-eng.git
[submodule "AUR/dict-freedict-eng-deu"]
	path = misc/aur/dict-freedict-eng-deu
	url = https://aur.archlinux.org/dict-freedict-eng-deu.git
[submodule "AUR/dict-foldoc"]
	path = misc/aur/dict-foldoc
	url = https://aur.archlinux.org/dict-foldoc.git
[submodule "AUR/dict-wn"]
	path = misc/aur/dict-wn
	url = https://aur.archlinux.org/dict-wn.git
[submodule "AUR/tor-browser-en"]
	path = misc/aur/tor-browser-en
	url = https://aur.archlinux.org/tor-browser-en.git
[submodule "AUR/nethack-nao"]
	path = misc/aur/nethack-nao
	url = https://aur.archlinux.org/nethack-nao.git
[submodule "AUR/conky-lua"]
	path = misc/aur/conky-lua
	url = https://aur.archlinux.org/conky-lua.git
[submodule "AUR/proggyfonts"]
	path = misc/aur/proggyfonts
	url = https://aur.archlinux.org/proggyfonts.git
[submodule "AUR/urlview"]
	path = misc/aur/urlview
	url = https://aur.archlinux.org/urlview.git
[submodule "AUR/neofetch"]
	path = misc/aur/neofetch
	url = https://aur.archlinux.org/neofetch.git
[submodule "AUR/cli-visualizer"]
	path = misc/aur/cli-visualizer
	url = https://aur.archlinux.org/cli-visualizer.git
[submodule "AUR/j4-dmenu-desktop"]
	path = misc/aur/j4-dmenu-desktop
	url = https://aur.archlinux.org/j4-dmenu-desktop.git
[submodule "AUR/git-crypt"]
	path = misc/aur/git-crypt
	url = https://aur.archlinux.org/git-crypt.git
[submodule "AUR/imgurbash"]
	path = misc/aur/imgurbash
	url = https://aur.archlinux.org/imgurbash.git
[submodule "AUR/profile-cleaner"]
	path = misc/aur/profile-cleaner
	url = https://aur.archlinux.org/profile-cleaner.git
[submodule "emacs.d/emacs-vim-modeline"]
	path = home/emacs.d/emacs-vim-modeline
	url = https://github.com/cinsk/emacs-vim-modeline
[submodule "AUR/signal-cli"]
	path = misc/aur/signal-cli
	url = https://aur.archlinux.org/signal-cli.git
[submodule "misc/aur/libsignal-client"]
	path = misc/aur/libsignal-client
	url = https://aur.archlinux.org/libsignal-client.git
[submodule "misc/aur/libzkgroup"]
	path = misc/aur/libzkgroup
	url = https://aur.archlinux.org/libzkgroup.git
[submodule "signal-cli.bash"]
	path = misc/signal-cli.bash
	url = https://github.com/meribold/signal-cli.bash.git
[submodule "AUR/fonts-meta-base"]
	path = misc/aur/fonts-meta-base
	url = https://aur.archlinux.org/fonts-meta-base.git
[submodule "AUR/fonts-meta-extended-lt"]
	path = misc/aur/fonts-meta-extended-lt
	url = https://aur.archlinux.org/fonts-meta-extended-lt.git
[submodule "AUR/ttf-courier-prime"]
	path = misc/aur/ttf-courier-prime
	url = https://aur.archlinux.org/ttf-courier-prime.git
[submodule "AUR/ttf-heuristica"]
	path = misc/aur/ttf-heuristica
	url = https://aur.archlinux.org/ttf-heuristica.git
[submodule "AUR/ttf-caladea"]
	path = misc/aur/ttf-caladea
	url = https://aur.archlinux.org/ttf-caladea.git
[submodule "AUR/ttf-impallari-cantora"]
	path = misc/aur/ttf-impallari-cantora
	url = https://aur.archlinux.org/ttf-impallari-cantora.git
[submodule "AUR/ttf-carlito"]
	path = misc/aur/ttf-carlito
	url = https://aur.archlinux.org/ttf-carlito.git
[submodule "AUR/ttf-google-fonts-git"]
	path = misc/aur/ttf-google-fonts-git
	url = https://aur.archlinux.org/ttf-google-fonts-git.git
[submodule "AUR/lostfiles"]
	path = misc/aur/lostfiles
	url = https://aur.archlinux.org/lostfiles.git
[submodule "AUR/translate-shell"]
	path = misc/aur/translate-shell
	url = https://aur.archlinux.org/translate-shell.git
[submodule "misc/muccadoro"]
	path = misc/muccadoro
	url = https://github.com/meribold/muccadoro.git
[submodule "fzf-pass"]
	path = misc/keybind-scripts/fzf-pass
	url = https://github.com/meribold/fzf-pass.git
[submodule "misc/AUR/freedict-tools"]
	path = misc/aur/freedict-tools
	url = https://aur.archlinux.org/freedict-tools.git
[submodule "misc/AUR/ttf-merriweather"]
	path = misc/aur/ttf-merriweather
	url = https://aur.archlinux.org/ttf-merriweather.git
[submodule "misc/AUR/ttf-merriweather-sans"]
	path = misc/aur/ttf-merriweather-sans
	url = https://aur.archlinux.org/ttf-merriweather-sans.git
[submodule "misc/AUR/ttf-opensans"]
	path = misc/aur/ttf-opensans
	url = https://aur.archlinux.org/ttf-opensans.git
[submodule "misc/AUR/ttf-oswald"]
	path = misc/aur/ttf-oswald
	url = https://aur.archlinux.org/ttf-oswald.git
[submodule "misc/AUR/ttf-quintessential"]
	path = misc/aur/ttf-quintessential
	url = https://aur.archlinux.org/ttf-quintessential.git
[submodule "misc/AUR/ttf-signika"]
	path = misc/aur/ttf-signika
	url = https://aur.archlinux.org/ttf-signika.git
[submodule "misc/AUR/alock-git"]
	path = misc/aur/alock-git
	url = https://aur.archlinux.org/alock-git.git
[submodule "misc/git-snap"]
	path = misc/git-snap
	url = https://github.com/meribold/git-snap.git
[submodule "misc/AUR/auracle-git"]
	path = misc/aur/auracle-git
	url = https://aur.archlinux.org/auracle-git.git
[submodule "misc/AUR/recutils"]
	path = misc/aur/recutils
	url = https://aur.archlinux.org/recutils.git
[submodule "home/vim/pack/meribold/start/vim-qf"]
	path = home/vim/pack/meribold/start/vim-qf
	url = https://github.com/romainl/vim-qf.git
[submodule "home/vim/pack/meribold/start/vim-dirvish"]
	path = home/vim/pack/meribold/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "home/vim/pack/meribold/start/open-browser.vim"]
	path = home/vim/pack/meribold/start/open-browser.vim
	url = https://github.com/tyru/open-browser.vim.git
[submodule "home/vim/pack/meribold/start/vim-operator-user"]
	path = home/vim/pack/meribold/start/vim-operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule "home/vim/pack/meribold/start/vim-textobj-user"]
	path = home/vim/pack/meribold/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "home/vim/pack/meribold/start/vim-repeat"]
	path = home/vim/pack/meribold/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "home/vim/pack/meribold/start/textobj-word-column.vim"]
	path = home/vim/pack/meribold/start/textobj-word-column.vim
	url = https://github.com/coderifous/textobj-word-column.vim.git
[submodule "home/vim/pack/meribold/start/textobj-gitgutter"]
	path = home/vim/pack/meribold/start/textobj-gitgutter
	url = https://github.com/gilligan/textobj-gitgutter.git
[submodule "home/vim/pack/meribold/start/vim-textobj-comment"]
	path = home/vim/pack/meribold/start/vim-textobj-comment
	url = https://github.com/glts/vim-textobj-comment.git
[submodule "home/vim/pack/meribold/start/vim-textobj-entire"]
	path = home/vim/pack/meribold/start/vim-textobj-entire
	url = https://github.com/kana/vim-textobj-entire.git
[submodule "home/vim/pack/meribold/start/vim-indent-object"]
	path = home/vim/pack/meribold/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "home/vim/pack/meribold/start/vim-line"]
	path = home/vim/pack/meribold/start/vim-line
	url = https://github.com/vim-utils/vim-line.git
[submodule "home/vim/pack/meribold/start/vim-vertical-move"]
	path = home/vim/pack/meribold/start/vim-vertical-move
	url = https://github.com/vim-utils/vim-vertical-move.git
[submodule "home/vim/pack/meribold/start/targets.vim"]
	path = home/vim/pack/meribold/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "home/vim/pack/meribold/start/clever-f.vim"]
	path = home/vim/pack/meribold/start/clever-f.vim
	url = https://github.com/rhysd/clever-f.vim.git
[submodule "home/vim/pack/meribold/start/vim-autoformat"]
	path = home/vim/pack/meribold/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "home/vim/pack/meribold/start/vim-exchange"]
	path = home/vim/pack/meribold/start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "home/vim/pack/meribold/start/vim-abolish"]
	path = home/vim/pack/meribold/start/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "home/vim/pack/meribold/start/vim-commentary"]
	path = home/vim/pack/meribold/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "home/vim/pack/meribold/start/vim-scriptease"]
	path = home/vim/pack/meribold/start/vim-scriptease
	url = https://github.com/tpope/vim-scriptease.git
[submodule "home/vim/pack/meribold/start/vim-surround"]
	path = home/vim/pack/meribold/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/vim/pack/meribold/start/visual-split.vim"]
	path = home/vim/pack/meribold/start/visual-split.vim
	url = https://github.com/wellle/visual-split.vim.git
[submodule "home/vim/pack/meribold/start/vim-easy-align"]
	path = home/vim/pack/meribold/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "home/vim/pack/meribold/start/vim-dispatch"]
	path = home/vim/pack/meribold/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "home/vim/pack/meribold/start/neomake"]
	path = home/vim/pack/meribold/start/neomake
	url = https://github.com/benekastah/neomake.git
[submodule "home/vim/pack/meribold/start/vim-eunuch"]
	path = home/vim/pack/meribold/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "home/vim/pack/meribold/start/vim-fugitive"]
	path = home/vim/pack/meribold/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/vim/pack/meribold/start/vim-gitgutter"]
	path = home/vim/pack/meribold/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "home/vim/pack/meribold/start/editorconfig-vim"]
	path = home/vim/pack/meribold/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "home/vim/pack/meribold/opt/vim-dict"]
	path = home/vim/pack/meribold/opt/vim-dict
	url = https://github.com/szw/vim-dict.git
[submodule "home/vim/pack/meribold/start/vim-slime"]
	path = home/vim/pack/meribold/start/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "home/vim/pack/meribold/opt/vim-gutentags"]
	path = home/vim/pack/meribold/opt/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "home/vim/pack/meribold/opt/pastery.vim"]
	path = home/vim/pack/meribold/opt/pastery.vim
	url = https://github.com/skorokithakis/pastery.vim.git
[submodule "home/vim/pack/meribold/opt/fzf"]
	path = home/vim/pack/meribold/opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "home/vim/pack/meribold/opt/fzf.vim"]
	path = home/vim/pack/meribold/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "home/vim/pack/meribold/start/vim-bbye"]
	path = home/vim/pack/meribold/start/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "home/vim/pack/meribold/start/vim-pasta"]
	path = home/vim/pack/meribold/start/vim-pasta
	url = https://github.com/sickill/vim-pasta.git
[submodule "home/vim/pack/meribold/start/vim-unimpaired"]
	path = home/vim/pack/meribold/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "home/vim/pack/meribold/start/vim-obsession"]
	path = home/vim/pack/meribold/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "home/vim/pack/meribold/start/vim-visualstar"]
	path = home/vim/pack/meribold/start/vim-visualstar
	url = https://github.com/thinca/vim-visualstar.git
[submodule "home/vim/pack/meribold/start/vim-speeddating"]
	path = home/vim/pack/meribold/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "home/vim/pack/meribold/start/vim-glsl"]
	path = home/vim/pack/meribold/start/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
[submodule "home/vim/pack/meribold/start/vim-rooter"]
	path = home/vim/pack/meribold/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "home/vim/pack/meribold/start/vim-table-mode"]
	path = home/vim/pack/meribold/start/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "home/vim/pack/meribold/start/delimitMate"]
	path = home/vim/pack/meribold/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "home/vim/pack/meribold/start/vim-endwise"]
	path = home/vim/pack/meribold/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "home/vim/pack/meribold/start/a.vim"]
	path = home/vim/pack/meribold/start/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "home/vim/pack/meribold/start/undotree"]
	path = home/vim/pack/meribold/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "home/vim/pack/meribold/start/vim-sleuth"]
	path = home/vim/pack/meribold/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "home/vim/pack/meribold/opt/ultisnips"]
	path = home/vim/pack/meribold/opt/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "home/vim/pack/meribold/start/unite.vim"]
	path = home/vim/pack/meribold/start/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "home/vim/pack/meribold/start/unite-spell-suggest"]
	path = home/vim/pack/meribold/start/unite-spell-suggest
	url = https://github.com/kopischke/unite-spell-suggest.git
[submodule "home/vim/pack/meribold/start/vim-husk"]
	path = home/vim/pack/meribold/start/vim-husk
	url = https://github.com/vim-utils/vim-husk.git
[submodule "home/vim/pack/meribold/start/lightline.vim"]
	path = home/vim/pack/meribold/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "home/vim/pack/meribold/start/papercolor-theme"]
	path = home/vim/pack/meribold/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "home/vim/pack/meribold/start/vim-colors-solarized"]
	path = home/vim/pack/meribold/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "home/vim/pack/meribold/start/vim-tomorrow-theme"]
	path = home/vim/pack/meribold/start/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "home/vim/pack/meribold/start/landscape.vim"]
	path = home/vim/pack/meribold/start/landscape.vim
	url = https://github.com/itchyny/landscape.vim.git
[submodule "home/vim/pack/meribold/start/jellybeans.vim"]
	path = home/vim/pack/meribold/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "home/vim/pack/meribold/start/jellyjam.vim"]
	path = home/vim/pack/meribold/start/jellyjam.vim
	url = https://github.com/meribold/jellyjam.vim.git
[submodule "home/vim/pack/meribold/start/wombat256.vim"]
	path = home/vim/pack/meribold/start/wombat256.vim
	url = https://github.com/vim-scripts/wombat256.vim.git
[submodule "home/vim/pack/meribold/start/vim-gnupg"]
	path = home/vim/pack/meribold/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "misc/AUR/dragon-drag-and-drop"]
	path = misc/aur/dragon-drag-and-drop
	url = https://aur.archlinux.org/dragon-drag-and-drop.git
[submodule "home/vim/pack/meribold/start/python_match.vim"]
	path = home/vim/pack/meribold/start/python_match.vim
	url = https://github.com/vim-scripts/python_match.vim.git
