[submodule "AUR/dict-gcide"]
	path = misc/AUR/dict-gcide
	url = https://aur.archlinux.org/dict-gcide.git
[submodule "AUR/dict-freedict-deu-eng"]
	path = misc/AUR/dict-freedict-deu-eng
	url = https://aur.archlinux.org/dict-freedict-deu-eng.git
[submodule "AUR/dict-freedict-eng-deu"]
	path = misc/AUR/dict-freedict-eng-deu
	url = https://aur.archlinux.org/dict-freedict-eng-deu.git
[submodule "AUR/dict-foldoc"]
	path = misc/AUR/dict-foldoc
	url = https://aur.archlinux.org/dict-foldoc.git
[submodule "AUR/dict-wn"]
	path = misc/AUR/dict-wn
	url = https://aur.archlinux.org/dict-wn.git
[submodule "notion/hide-tabs"]
	path = home/notion/hide-tabs
	url = https://github.com/meribold/notion-hide-tabs.git
[submodule "AUR/thinkfan"]
	path = misc/AUR/thinkfan
	url = https://aur.archlinux.org/thinkfan.git
[submodule "AUR/tor-browser-en"]
	path = misc/AUR/tor-browser-en
	url = https://aur.archlinux.org/tor-browser-en.git
[submodule "AUR/goobook-git"]
	path = misc/AUR/goobook-git
	url = https://aur.archlinux.org/goobook-git.git
[submodule "AUR/yeganesh-cabal"]
	path = misc/AUR/yeganesh-cabal
	url = https://aur.archlinux.org/yeganesh-cabal.git
[submodule "AUR/nethack-nao"]
	path = misc/AUR/nethack-nao
	url = https://aur.archlinux.org/nethack-nao.git
[submodule "AUR/conky-lua"]
	path = misc/AUR/conky-lua
	url = https://aur.archlinux.org/conky-lua.git
[submodule "AUR/proggyfonts"]
	path = misc/AUR/proggyfonts
	url = https://aur.archlinux.org/proggyfonts.git
[submodule "AUR/urlview"]
	path = misc/AUR/urlview
	url = https://aur.archlinux.org/urlview.git
[submodule "AUR/i3-gaps-git"]
	path = misc/AUR/i3-gaps-git
	url = https://aur.archlinux.org/i3-gaps-git.git
[submodule "AUR/neofetch"]
	path = misc/AUR/neofetch
	url = https://aur.archlinux.org/neofetch.git
[submodule "AUR/cli-visualizer"]
	path = misc/AUR/cli-visualizer
	url = https://aur.archlinux.org/cli-visualizer.git
[submodule "AUR/j4-dmenu-desktop"]
	path = misc/AUR/j4-dmenu-desktop
	url = https://aur.archlinux.org/j4-dmenu-desktop.git
[submodule "AUR/clipmenu"]
	path = misc/AUR/clipmenu
	url = https://aur.archlinux.org/clipmenu.git
[submodule "AUR/cower"]
	path = misc/AUR/cower
	url = https://aur.archlinux.org/cower.git
[submodule "AUR/z-git"]
	path = misc/AUR/z-git
	url = https://aur.archlinux.org/z-git.git
[submodule "AUR/git-crypt"]
	path = misc/AUR/git-crypt
	url = https://aur.archlinux.org/git-crypt.git
[submodule "AUR/imgurbash"]
	path = misc/AUR/imgurbash
	url = https://aur.archlinux.org/imgurbash.git
[submodule "AUR/universal-ctags-git"]
	path = misc/AUR/universal-ctags-git
	url = https://aur.archlinux.org/universal-ctags-git.git
[submodule "AUR/profile-cleaner"]
	path = misc/AUR/profile-cleaner
	url = https://aur.archlinux.org/profile-cleaner.git
[submodule "emacs.d/emacs-vim-modeline"]
	path = home/emacs.d/emacs-vim-modeline
	url = https://github.com/cinsk/emacs-vim-modeline
[submodule "AUR/libmatthew-unix-java"]
	path = misc/AUR/libmatthew-unix-java
	url = https://aur.archlinux.org/libmatthew-unix-java.git
[submodule "AUR/signal-cli"]
	path = misc/AUR/signal-cli
	url = https://aur.archlinux.org/signal-cli.git
[submodule "signal-cli.bash"]
	path = misc/signal-cli.bash
	url = https://github.com/meribold/signal-cli.bash.git
[submodule "AUR/unclutter-xfixes-git"]
	path = misc/AUR/unclutter-xfixes-git
	url = https://aur.archlinux.org/unclutter-xfixes-git.git
[submodule "AUR/fonts-meta-base"]
	path = misc/AUR/fonts-meta-base
	url = https://aur.archlinux.org/fonts-meta-base.git
[submodule "AUR/fonts-meta-extended-lt"]
	path = misc/AUR/fonts-meta-extended-lt
	url = https://aur.archlinux.org/fonts-meta-extended-lt.git
[submodule "AUR/ttf-courier-prime"]
	path = misc/AUR/ttf-courier-prime
	url = https://aur.archlinux.org/ttf-courier-prime.git
[submodule "AUR/ttf-heuristica"]
	path = misc/AUR/ttf-heuristica
	url = https://aur.archlinux.org/ttf-heuristica.git
[submodule "AUR/ttf-caladea"]
	path = misc/AUR/ttf-caladea
	url = https://aur.archlinux.org/ttf-caladea.git
[submodule "AUR/ttf-impallari-cantora"]
	path = misc/AUR/ttf-impallari-cantora
	url = https://aur.archlinux.org/ttf-impallari-cantora.git
[submodule "AUR/ttf-carlito"]
	path = misc/AUR/ttf-carlito
	url = https://aur.archlinux.org/ttf-carlito.git
[submodule "AUR/ttf-google-fonts-git"]
	path = misc/AUR/ttf-google-fonts-git
	url = https://aur.archlinux.org/ttf-google-fonts-git.git
[submodule "AUR/lostfiles"]
	path = misc/AUR/lostfiles
	url = https://aur.archlinux.org/lostfiles.git
[submodule "AUR/translate-shell"]
	path = misc/AUR/translate-shell
	url = https://aur.archlinux.org/translate-shell.git
[submodule "misc/muccadoro"]
	path = misc/muccadoro
	url = https://github.com/meribold/muccadoro.git
[submodule "misc/rofi-pass"]
	path = misc/rofi-pass
	url = https://github.com/meribold/rofi-pass.git
[submodule "misc/AUR/freedict-tools"]
	path = misc/AUR/freedict-tools
	url = https://aur.archlinux.org/freedict-tools.git
[submodule "misc/AUR/ttf-merriweather"]
	path = misc/AUR/ttf-merriweather
	url = https://aur.archlinux.org/ttf-merriweather.git
[submodule "misc/AUR/ttf-merriweather-sans"]
	path = misc/AUR/ttf-merriweather-sans
	url = https://aur.archlinux.org/ttf-merriweather-sans.git
[submodule "misc/AUR/ttf-opensans"]
	path = misc/AUR/ttf-opensans
	url = https://aur.archlinux.org/ttf-opensans.git
[submodule "misc/AUR/ttf-oswald"]
	path = misc/AUR/ttf-oswald
	url = https://aur.archlinux.org/ttf-oswald.git
[submodule "misc/AUR/ttf-quintessential"]
	path = misc/AUR/ttf-quintessential
	url = https://aur.archlinux.org/ttf-quintessential.git
[submodule "misc/AUR/ttf-signika"]
	path = misc/AUR/ttf-signika
	url = https://aur.archlinux.org/ttf-signika.git
[submodule "misc/AUR/alock-git"]
	path = misc/AUR/alock-git
	url = https://aur.archlinux.org/alock-git.git
