@-moz-document url-prefix(about:blank) {
  * {
    background-color: #121212;
  }
}

/* Hacker News */
@-moz-document domain("news.ycombinator.com") {
  body {
    background-color: #161616 !important;
    margin: 0;
  }

  body, td, .admin td, .subtext td, input[type="submit"], .default, .admin, .title,
  .subtext, .yclinks, .pagetop, .comment, input, textarea {
    font-family: sans-serif !important;
  }

  /* Limit the width of comments. */
  .comment {
    max-width: 80ch !important;
  }

  #hnmain {
    width: initial;
    margin-top: 8px;
  }

  .itemlist {
    padding: 0 1ch;
  }

  html {
    font-size: 100% !important;
  }

  body, td {
    font-size: 1rem !important;
  }

  .pagetop {
    font-variant: small-caps;
    font-size: .9167rem !important;
  }

  .pagetop > .hnname {
    font-size: 1rem !important;
  }

  .title, .comment {
    font-size: .9167rem !important;
  }

  .comment {
    line-height: 1.2;
  }

  .comhead {
    font-family: monospace !important;
    font-size: .8rem !important;
  }

  input, .subtext {
    font-size: .8rem !important;
  }

  .yclinks {
    font-size: .8rem !important;
  }

  #hnmain > tbody > tr:last-child form {
    font-size: .9167rem !important;
  }

  tr.spacer{
    height: 8px !important;
  }

  body > center > table {
    background-color: #121212 !important;
  }

  input, textarea {
    /* See <https://support.mozilla.org/en-US/questions/814083>. */
    -moz-appearance: none !important;
    background-color: #0e0e0e;
  }

  /* Bright text */
  td.title a:link, span.comment font, span.comment font a:link, u a:link,
  span.yclinks a:link, body:not([id]), td:nth-child(2):not(.subtext) > a:link, input,
  textarea, p > a, a > u, .c00, .c00 a:link, a[href="http://www.ycombinator.com/apply/"] {
    color: #dfdfdf !important;
  }

  td.title {
    padding-bottom: 3px;
  }

  .comhead a:link, span.sitestr, .subtext a:visited {
    color: #888 !important;
  }

  .admin td {
    color: #aaa !important;
  }

  /* Search box and comment box */
  input, textarea {
    border: 1px solid #888 !important;
  }

  /* Upvote arrow; see <https://css-tricks.com/snippets/css/css-triangle> */
  .votearrow {
    /* Disable the image that's shown by default. */
    background-image: none !important;
    /* Use CSS to draw a triangle. */
    width: 0 !important;
    height: 0 !important;
    margin: 5px 4px 0px 4px !important; /* top right bottom left */
    border-left: 4px solid transparent !important;
    border-right: 4px solid transparent !important;
    border-bottom: 7px solid #888 !important;
  }
}

/* vim: set tw=90 sts=-1 sw=2 et: */
