* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

p, li, a {
  color: #adadad;
}

body {
  background-color: #151515;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  width: 85%;
  top: 50%;
  transform: translate(0, -50%);
  margin: auto;
  text-align: center;
}

.container p {
  padding-left: 4px;
  text-align: left;
  color: #fad07a;
  border-bottom: 1px solid #902020;
}

.list {
  display: inline-block;
  width: 18%;
  margin: 16px 8px 16px 8px;
  vertical-align: text-top;
}

.list ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
  padding: 3px;
}

a:hover {
  color: #ffffff;
  background: #902020;
}

/* vim: set tw=90 sts=-1 sw=2 et: */
