priority -60

global !p
def modeline():
   options = "tw=90 sts=-1 sw=3 et"
   commentstring = vim.eval("&commentstring")
   if vim.eval("&ft") and commentstring:
      return re.sub(" ?%s ?", " vim: %s " % options, commentstring).strip()
   else:
      return "vim: " + options
endglobal

snippet modeline "Vim modeline" b
`!p snip.rv = modeline()`
endsnippet

snippet today
`date -I`
endsnippet
