priority -60

global !p
from snippet_helpers import *
endglobal

snippet modeline "Vim modeline" b
`!p snip.rv = modeline()`
endsnippet

snippet today
`date -I`
endsnippet

snippet now
`date -Im`
endsnippet

snippet fortune
`fortune`
endsnippet
