priority -50

global !p
from snippet_helpers import *
endglobal

snippet #! "Shebang" b
#!/usr/bin/env python
$0
endsnippet

# I usually use my normal setting for 'textwidth' and don't limit lines to a width of 79
# characters like PEP 8 suggests, so this snippet doesn't override 'tw'.
snippet modeline "Vim modeline" b
`!p snip.rv = modeline({"sw": "=4"})`
endsnippet

# vim: tw=90 sts=-1 sw=3 et
