* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Mono', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

p, li, a {
  color: #dfdfdf;
}

body {
  background-color: #121212;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 1118px;
  margin: 0 auto 0 auto;
  text-align: center;
}

/* Center everything vertically unless the viewport is pretty small.  Basically, the
 * method used for centering stuff vertically fails if the thing being centered is too
 * high to fit into the viewport.  If that is the case, the absolute value of the
 * translation applied by the transform property will be bigger than the one applied by
 * the top property (which depends on the height of the viewport).  The content is moved
 * up more than it was moved down and some of it becomes inaccessible.  This method of
 * disabling vertical centering when the viewport is small only is a pretty ugly
 * workaround, of course. */
@media only screen and (min-width: 893px) and (min-height: 382.8px) {
  .container {
    top: 50%;
    transform: translate(0, -50%);
  }
}

.container p {
  padding-left: 4px;
  text-align: left;
  color: #ffdf87;
  border-bottom: 1px solid #d75f5f;
}

.list {
  display: inline-block;
  width: 202px;
  margin: 16px 8px 16px 8px;
  vertical-align: text-top;
}

.list ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
  padding: 3px;
}

a:hover {
  color: #ffffff;
  background: #d75f5f;
}

/* vim: set tw=90 sts=-1 sw=2 et: */
